
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/26.2.4/fluent.css" />

    <script src="https://cdn.syncfusion.com/ej2/26.2.4/dist/ej2.min.js"></script>
</head>
<body>
    <header>

        <div class="header-top">
            <div class="location">
                <span>
                    <i class="fas fa-map-marker-alt"></i>
                    Shahar:
                    <ejs-dropdownbutton id="cityDropdown" Content="Toshkent">
                    </ejs-dropdownbutton>
                </span>
                <ejs-button id="pickupPointsBtn" CssClass="e-link" Content="Topshirish punktlari"></ejs-button>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Sell</button>
                <button type="button" class="btn btn-secondary">FAQs</button>
                <button type="button" class="btn btn-secondary">My orders</button>
                <button type="button" class="btn btn-secondary">Uzbek</button>
            </div>
        </div>
        <div class="header-main">
            <div class="logo">
                <a href="#"><img src="~/css/e-commerce.logo.png" alt="Ecommerce" /></a>
                <p class="fw-bolder">Bolder weight text (relative to the parent element).</p>

            </div>
            
            <div class="search-bar">
                <input type="text" placeholder="Mahsulotlar va turkumlar izlash" />
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="header-icons">
                <a href="#"><i class="fas fa-user"></i> Kirish</a>
                <a href="#"><i class="fas fa-heart"></i> Saralangan</a>
                <a href="#"><i class="fas fa-shopping-cart"></i> Savat</a>
            </div>
        </div>
        <nav class="category-menu">
            <ul>
                <li><a href="#">Maktab bozori</a></li>
                <li><a href="#">Yozgi savdo</a></li>
                <li><a href="#">Kanselyariya</a></li>
                <li><a href="#">Nasiya</a></li>
                <li><a href="#">Elektronika</a></li>
                <li><a href="#">Maishiy texnika</a></li>
                <li><a href="#">Kiyim</a></li>
                <li><a href="#">Poyabzallar</a></li>
                <li><a href="#">Aksessuarlar</a></li>
                <li><a href="#">Go'zallik va parvarish</a></li>
                <li><a href="#">Salomatlik</a></li>
                <li><a href="#">Yana</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <ejs-scripts></ejs-scripts>
</body>
</html>
