
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/26.2.4/fluent.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://cdn.syncfusion.com/ej2/26.2.4/dist/ej2.min.js"></script>
</head>
<body>
    <header>
@* 
        <div class="header-top">
            <div class="location">
                <span>
                    <i class="fas fa-map-marker-alt me-1"></i>
                    <a href="#">City</a>
                    <ejs-dropdownbutton id="cityDropdown" class="ms-1 me-1" Content="Tashkent">
                    </ejs-dropdownbutton>
                </span>
                <a href="#" >Delivery points</a>
            </div>
            <div class="header-icon bold-link">
                <a href="#" >Sell</a>
                <a href="#" >FAQs</a>
                <a href="#" >My orders</a>
                <a href="#" >Uzbek</a>
            </div>
        </div> *@
        <div class="header-main">
            <div class="logo d-flex">
                <a href="#"><img src="~/css/e-commerce.logo1.png" alt="Ecommerce" /></a>
                <p class="fw-bolder mt-2">Ecommerce</p>
            </div>
            
            <div class="search-bar">
                <input type="text" placeholder="Search products and types..." >
                    <button><i class="fas fa-search"></i></button>
                </input>
            </div>
            <div class="header-icons">
                <button><i class="fas fa-user"></i> LogIn</button>
                <button asp-controller="MyOrders" asp-action="Index"> My orders</button>
                <button><i class="fas fa-heart"></i> Favourite</button>
                <button><i class="fas fa-shopping-cart"></i> Basket</button>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="d-flex justify-content-between mt-3">
            <a href="#" class="badge badge-light fw-bolder">Last sold products  <i class="fa-solid fa-chevron-right icon-width-height ms-2"></i></a>
            <form asp-controller="Products" asp-action="Create" method="get">
                <button type="submit" class="btn btn-primary">Products</button>
            </form>
            <button type="button" class="btn btn-info btn-category mt-4 me-3">Categories <i class="fa-solid fa-chevron-down ms-2"></i></button>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <ejs-scripts></ejs-scripts>
</body>
</html>
