
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.styles.css" asp-append-version="true" />
    @* <link href="  https://cdn.syncfusion.com/ej2/26.2.4/fabric.css" rel="stylesheet" /> *@
    <link href="https://cdn.syncfusion.com/ej2/20.1.55/bootstrap5.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/26.2.4/dist/ej2.min.js"></script>

</head>
<body>
    <header>
        <div class="header-main">
            <div class="logo d-flex">
                <a asp-controller="Products"  asp-action="Index"> 
                    <img src="~/css/e-commerce.logo1.png" alt="Ecommerce" />
                    <span   >Ecommerce</span>
                </a>
            </div>
            
            <form class="search-bar">
                <input type="text" asp-action="Index" asp-controller="Products"  placeholder="Search products and categories..." >
                    <button><i class="fas fa-search"></i></button>
                </input>
            </form>
            <div class="header-icons">
                <button><i class="fas fa-user"></i> LogIn</button>
                <button asp-controller="MyOrders" asp-action="Index"> My orders</button>
                <button><i class="fas fa-heart"></i> Favourite</button>
                <button><i class="fas fa-shopping-cart"></i> Basket</button>
            </div>
        </div>
        <section class="categories d-flex justify-content-between">
            <div class="container" >
                <ul>
                    <li><a asp-controller="Categories" asp-action="Index">Electronics</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Books</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Office</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Household appliances</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Clothing</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Shoes</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Health</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Automotive goods</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Sports and recreation</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Beauty and care</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">More</a></li>
                </ul>
            </div>
        </section>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <ejs-scripts></ejs-scripts>
</body>
</html>
