@model Ecommerce.ViewModels.Product.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />

    <div class="card h-30">
        @if (Model.ImageUrl != null)
        {
            var imageBase64 = Convert.ToBase64String(Model.ImageUrl);
            var imageSrc = $"data:image/gif;base64,{imageBase64}";
            <img src="@imageSrc" alt="Image" class="img-thumbnail card-img-top" width="50" height="50" />
        }

        <div class="card-body text-center">
            <h5 class="card-title">@Model.Name @Model.Description</h5>
            <p class="card-text">@Model.Price</p>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
