@model IEnumerable<Ecommerce.ViewModels.Product.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="card-product">
        @foreach (var product in Model)
        {
            <div class="d-flex m-10">
                <div class="img-h-w">
                    @if (product.ImageUrl != null)
                    {
                        var imageBase64 = Convert.ToBase64String(product.ImageUrl);
                        var imageSrc = $"data:image/gif;base64,{imageBase64}";
                        <img src="@imageSrc" alt="Image" class="img-thumbnail card-img-top" />
                    }
                </div>

                <div class="card-body ms-10">
                    <h1 class="card-title">@product.Name </h1>
                    <h3 class="card-body">@product.Description</h3>
                    <p class="card-text">@product.Price</p>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>

            </div>
        }
</div>
